@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Merriweather-sans';
  src: url('/fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-regular';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-semibold';
  src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@layer base {

  .bordered-black {
    @apply border-[2px] border-primary p-2;
  }
  .size-h1 {
    @apply text-h1;
  }
  .size-h2 {
    @apply text-h2;
  }
  .size-h3 {
    @apply text-h3;
  }
  @media screen and (min-width: 767px) {
    .size-h1 {
      @apply text-Xlh1
    }
    .size-h2 {
      @apply text-Xlh2
    }
    .size-h3 {
      @apply text-Xlh3
    }
  }
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}


div[data-disapear] {
  transition: all 0.2s;
}




h1, h2, h3, h4, h5, h6 {
  @apply font-title;
}
a, button {
  @apply font-button;
}
p, span {
  @apply font-text;
}

body {
  @apply bg-background;
}
