---
import Nav from "./Nav.astro";
import ChevronDroite from "./icons/ChevronDroite.astro";
import GreenDot from "./icons/GreenDot.astro";
import Location from "./icons/Location.astro";
---

<header class="py-2 flex items-center justify-between fixed top-0 w-full z-10">
  <div class="flex items-center gap-5 ml-c">
    <div class="bordered-black inline-flex items-center gap-3 bg-background">
      <p class="">Louis Lasserre</p>
      <ChevronDroite />
    </div>
  </div>
  <Nav />
</header>
