---
import Button from "./button.astro";
import Plane from "./icons/Plane.astro";
import Rocket from "./icons/Rocket.astro";

const link = {
  name: "Mon parcours",
  type: "in",
  url: "/",
};
---

<article class="container mx-auto">
  <p class="mb-8">
    J'ai commencé le développement à 15 ans, par curiosité personnelle.<br />

    J'ai commencé par travailler en c# sur unity pour créer de petits jeux
    vidéos. J'ai par ailleurs commencé à faire des réalisations 3d sur blender à
    cette période là. Cette appétence pour le développement m'a poussé à choisir
    nsi comme spécialité au lycée, où j'ai appris énormément sur l'algorythmie
    en python.
    <br />
    Pour mon projet de fin d'année de terminal, j'ai réalisé par moi-même un serveur
    web en python, qui s'actualisait toutes les 15 secondes, enregistré ces données
    sur une base de données et les affichés.
    <br /><br />
    Je suis alors partit en BUT MMI pour mes études supérieures où j'ai pu me spécialiser
    dans le développement web front, j'ai également eu la chance de pouvoir apprendre
    énormément sur la réalisation de maquettes, avec un regard créatif, mais surtour
    UI/UX, un regard sur l'accessibilité également.
    <br />
    J'ai eu l'opportunité de passer la certification opquast qui est pour moi essentielle
    pour la réalisation de projets web de qualité.
  </p>
  <!-- <Button link={link} />
  <p class="mt-16">
    <div class="inline-flex gap-4"><Plane /><Rocket /></div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, dolor eos in rem
    velit itaque quidem porro ullam eaque excepturi alias eos in rem velit itaque
    quidem porro ullam eaque excepturi alias
  </p> -->
</article>
