---
import type { TLinkType } from "./button.astro";
import File from "./icons/File.astro";
import Mail from "./icons/Mail.astro";
import Phone from "./icons/Phone.astro";

interface Props {
  contactData: {
    icon: "phone" | "mail" | "file";
    name: string;
    label: string;
    link: TLinkType;
  }[];
}

const { contactData } = Astro.props;

const correspondingIcons = { phone: Phone, mail: Mail, file: File };
---

<section class="container mx-auto">
  <p>Mon travail vous intéresse ? n’hésitez pas à me contacter</p>

  {
    contactData.map((data) => {
      let Element = correspondingIcons[data.icon];
      return (
        <a href={data.link.url} class="mt-6 block">
          <div class="flex gap-8">
            <Element />
            <p data-follow="Au plaisir de se rencontrer autour d’un café ☕️">
              {data.label}
            </p>
          </div>
        </a>
      );
    })
  }
</section>
