---
import Slash from "./icons/Slash.astro";
---

<nav class="flex gap-3 px-2 bordered-black border-r-0 bg-background">
  <span class="flex">
    <Slash class="inline-block" />
    <a class="font-text" href="/#projets-principaux">work</a>
  </span>
  <span class="flex">
    <Slash class="inline-block" />
    <a class="font-text" href="/#a-propos">about</a>
  </span>
  <span class="flex">
    <Slash class="inline-block" />
    <a class="font-text" href="/#me-contacter">contact</a>
  </span>
</nav>
